body{
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
                 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    font-weight: bolder;
    color: rgb(219, 218, 218);
    background-color: rgb(45, 45, 58);;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding-left: 70px; padding-right: 70px;
}
a{
    color:rgb(184, 182, 182);
}
ul{
    list-style: none;
    gap: 20px;
    display: flex;
}
.body{
    display: flex;
    flex: auto;
    flex-direction: column;
    position: fixed;
    left: 0;
    right:0;
    bottom:45px;
    top: 45px;
}
.one, .two, .three, .four{
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
}
.one{
    flex: auto;
    align-items: center;
    justify-content: space-around;
    background: rgb(45, 45, 58);
    flex-direction: row;
}
#button1{
    color: white;
    font-weight: 700;;
    background-color: rgb(84, 107, 212);
    border: none;
    border-radius: 7px;
    height: 30px;
    width: 100px;
}
#button1:hover{
    background-color: rgb(127, 65, 185);
}
p{
    margin-top:0;
}
#topimg1{
    width: 600px;
    height: 150px;
}
.textone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.title{
    margin-bottom: 0;
}
.two{
    flex-direction: column;
    flex: auto;
    justify-content: center;
    gap: 20px;
}
#title2{
    align-self: center;
    font-size: 25px;
    color: black;
}
.showroom{
    display: flex;
    justify-content: space-around;
}
.subtitles{
    display: flex;
    justify-content: space-around;
    color: black;
}
.menupics{
    border: solid 3px rgb(91, 113, 236);
    border-radius: 15px;
    width: 110px;
    height: 110px;
}
.menupics:hover{
    border: 4px rgb(1, 1, 116) solid;
}
.three{
    padding-left: 150px;
    padding-right: 150px;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(171, 171, 209);
}
.trestext{
    font-size: 20px;
    color: rgb(63, 55, 55);
}
.quote{
    font-size: 20px;
    color:black;
}
.four{
    flex: auto;
    align-content: center;
    justify-content: center;
}
.call{
    color: white;
    font-weight: 800;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.subtitle{
    color: rgb(216, 216, 216);
}
#content4{
    background-color: rgb(84, 107, 212);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    width: 1000px;
    height: 100px;
}
#button4{
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: 2px solid white;
    background-color: rgb(87, 156, 247);
    border-radius: 7px;
    align-self: center;
    height: 35px;
    width: 9em;
}
#button4:hover{
    background-color: rgb(109, 50, 218);
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(45, 45, 58);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
}